<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Passion Project</title>
    @Styles.Render("~/Content/css")
    <link type="text/css" href="~/Content/storywriting.css" rel="stylesheet" />
</head>
<body>
    <!-- Christine's example was used a reference for the assignment -->
    <header id="header">
        <div class="page-wrapper flex-container">
            <h1 id="site-name">@Html.ActionLink("Collaborative Story Writing", "Index", "Story")</h1>
            <nav id="main-nav">
                <ul>
                    <li>@Html.ActionLink("Story List", "Index", "Story")</li>
                    <li>@Html.ActionLink("Writer List", "Index", "Writer")</li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="page-wrapper">
        @RenderBody()
    </div>

    <footer id="footer">
        <div class="page-wrapper">
            <p>Passion Project - Raymond Giang - n01304390</p>
        </div>
    </footer>
</body>
</html>
