@model StoryWriting_n01304390.Models.ViewModels.AddOrEditViewModel

@{
    ViewBag.Title = "EditContent";
}

<h2>Edit Content</h2>

<!-- Form to edit story content -->
<form method="POST" action="/StoryContent/Update/@Model.StoryContent.StoryContentID">
    <div class="form-row">
        <label for="content-writer">Writer:</label>
        <select id="content-writer" name="new_content_writer">
            @foreach (var writer in Model.Writers)
            {
                if (writer.WriterID == Model.StoryContent.ContentWriter.WriterID)
                {
                    <option value="@writer.WriterID" selected>@writer.Username</option>
                }
                else
                {
                    <option value="@writer.WriterID">@writer.Username</option>
                }
            }
        </select>
    </div>
    <div class="form-row">
        <label for="story-content">Story Content:</label>
        <textarea id="story-content" name="new_story_content" maxlength="100">@Model.StoryContent.Content</textarea>
    </div>
    <div class="form-row">
        <input type="submit" value="Submit" />
    </div>
</form>